@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  text-decoration: none;
  color: inherit;
}


#app {
  width: 100%;
}

.h-100vh{
  height: 100vh;
}

.flx{
  display: flex;
}

*::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

* {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}